/*Landing Page Styles*/

html, body, header, #intro {
    height: 100%;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#intro {
    background: url(https://images.unsplash.com/photo-1485827031228-b1736cb1fd06?auto=format&fit=crop&w=967&q=80)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h5{
    color: white;
}